@font-face {
  font-family: "Titillium Web", sans-serif;
  src: url("../../assets/fonts/TitilliumWeb-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Titillium Web", sans-serif;
  src: url("../../assets/fonts/TitilliumWeb-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
.edit-warehouse {
  width: 100%;
  font-family: "Titillium Web", sans-serif;
  background: linear-gradient(#232940 7.5%, #f7f8f9 7.5%, #f7f8f9 92.5%);
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .edit-warehouse {
    padding: 0 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .edit-warehouse {
    padding: 0 8.125rem;
  }
}
.edit-warehouse__page {
  background: #ffffff;
  border-radius: 0.1875rem;
  box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.1);
}
.edit-warehouse__header {
  padding: 2rem 0 1rem 1.5rem;
  display: flex;
  align-items: center;
}
.edit-warehouse__title {
  margin-left: 1rem;
  color: #13182c;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .edit-warehouse__title {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
  }
}
.edit-warehouse__form {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .edit-warehouse__form {
    flex-direction: row;
  }
}
.edit-warehouse__details {
  border-top: 0.0625rem solid #bdc5d5;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
}
.edit-warehouse__subheading {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .edit-warehouse__subheading {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}
.edit-warehouse__label {
  display: flex;
  flex-direction: column;
  color: #13182c;
  margin-top: 1rem;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .edit-warehouse__label {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
  }
}
.edit-warehouse__input {
  margin-top: 0.25rem;
  border-radius: 1.25rem;
  border: 1px solid #bdc5d5;
  color: #5c667e;
  padding: 0rem 1rem;
  height: 10.25vw;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  font-weight: 400;
}
.edit-warehouse__input:focus {
  color: #13182c;
  border-color: #2e66e5;
}
@media screen and (min-width: 768px) {
  .edit-warehouse__input {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    height: 4.948vw;
  }
}
@media screen and (min-width: 1280px) {
  .edit-warehouse__input {
    height: 2.969vw;
  }
}
.edit-warehouse__buttons {
  border-radius: 0 0 0.1875rem 0.1875rem;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  background-color: #f7f8f9;
  border-top: 0.0625rem solid #bdc5d5;
}
@media screen and (min-width: 768px) {
  .edit-warehouse__buttons {
    padding: 1rem 2rem;
    justify-content: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .edit-warehouse__buttons {
    padding: 1rem 2.5rem;
  }
}
.edit-warehouse__button-cancel {
  padding: 0.5rem 1rem;
  border-radius: 1.25rem;
  background-color: #ffffff;
  color: #5c667e;
  text-align: center;
  border: 1px solid #bdc5d5;
  width: 50%;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  font-weight: 600;
  height: 11.25vw;
}
.edit-warehouse__button-cancel:hover {
  color: #2e66e5;
  border-color: #2e66e5;
}
@media screen and (min-width: 768px) {
  .edit-warehouse__button-cancel {
    height: 4.948vw;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 1280px) {
  .edit-warehouse__button-cancel {
    height: 2.969vw;
  }
}
.edit-warehouse__button-save {
  width: 50%;
  padding: 0.5rem 1rem;
  border-radius: 1.25rem;
  background-color: #2e66e5;
  color: #ffffff;
  text-align: center;
  border: none;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  font-weight: 600;
  height: 11.25vw;
}
.edit-warehouse__button-save:hover {
  background-color: #232940;
}
@media screen and (min-width: 768px) {
  .edit-warehouse__button-save {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
    height: 4.948vw;
  }
}
@media screen and (min-width: 1280px) {
  .edit-warehouse__button-save {
    height: 2.969vw;
  }
}/*# sourceMappingURL=EditWarehouse.css.map */