@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography";

.edit-warehouse {
  width: 100%;
  font-family: "Titillium Web", sans-serif;
  background: linear-gradient(
    $background-graphite 7.5%,
    $background-light-grey 7.5%,
    $background-light-grey 92.5%
  );
  padding: 0 1rem;
  @include tablet {
    padding: 0 2rem;
  }
  @include desktop {
    padding: 0 8.125rem;
  }

  &__page {
    background: $primary-white;
    border-radius: 0.1875rem;
    box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.1);
  }
  &__header {
    padding: 2rem 0 1rem 1.5rem;
    display: flex;
    align-items: center;
  }

  &__title {
    margin-left: 1rem;
    color: $primary-instock-black;
    margin-block-start: 0;
    margin-block-end: 0;
    @include font-m-h1-page-header;
    @include tablet {
      @include font-h1-page-header;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
    }
  }
  &__details {
    border-top: 0.0625rem solid $secondary-cloud;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
  }
  &__subheading {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 0.5rem;
    @include font-m-h2-subheader;
    @include tablet {
      @include font-h2-subheader;
    }
  }

  &__label {
    display: flex;
    flex-direction: column;
    color: $primary-instock-black;
    margin-top: 1rem;
    @include font-m-h3-labels-links-buttons;
    @include tablet {
      @include font-h3-labels-links-buttons;
    }
  }
  &__input {
    margin-top: 0.25rem;
    border-radius: 1.25rem;
    border: 1px solid $secondary-cloud;
    color: $secondary-slate;

    padding: 0rem 1rem;
    height: 10.25vw;
    @include font-m-p2-body-medium;
    &:focus {
      color: $primary-instock-black;
      border-color: $primary-instock-indigo;
    }
    &:invalid {
      border-color: $supporting-red;
    }
    @include tablet {
      @include font-p2-body-medium;
      height: 4.948vw;
    }
    @include desktop {
      height: 2.969vw;
    }
  }
  &__buttons {
    border-radius: 0 0 0.1875rem 0.1875rem;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background-color: $background-light-grey;
    border-top: 0.0625rem solid $secondary-cloud;
    @include tablet {
      padding: 1rem 2rem;
      justify-content: flex-end;
    }
    @include desktop {
      padding: 1rem 2.5rem;
    }
  }
  &__button-cancel {
    padding: 0.5rem 1rem;
    border-radius: 1.25rem;
    background-color: $primary-white;
    color: $secondary-slate;
    text-align: center;
    border: 1px solid $secondary-cloud;
    width: 50%;
    @include font-m-h3-labels-links-buttons;
    &:hover {
      color: $primary-instock-indigo;
      border-color: $primary-instock-indigo;
    }
    height: 11.25vw;
    @include tablet {
      height: 4.948vw;
      @include font-h3-labels-links-buttons;
    }
    @include desktop {
      height: 2.969vw;
    }
  }
  &__button-save {
    width: 50%;
    padding: 0.5rem 1rem;
    border-radius: 1.25rem;
    background-color: $primary-instock-indigo;
    color: $primary-white;
    text-align: center;
    border: none;
    @include font-m-h3-labels-links-buttons;
    &:hover {
      background-color: $background-graphite;
    }
    height: 11.25vw;
    @include tablet {
      @include font-h3-labels-links-buttons;
      height: 4.948vw;
    }
    @include desktop {
      height: 2.969vw;
    }
  }
}
