@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials//typography" as *;
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include tablet {
    background-color: rgb(19, 24, 44, 0.5);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @include desktop {
    background-color: rgb(19, 24, 44, 0.5);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.instock {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: $primary-white;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  justify-content: space-between;
  font-family: "Titillium Web", sans-serif;

  @include tablet {
    width: 87.5%;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;

    height: 34vw;
    box-shadow: -4px 10px 26px -1px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    background-color: white;
  }
  @include desktop {
    height: 23vw;
    justify-content: center;
    align-items: center;
    width: 65%;
  }
  &__container {
    padding: 0px 16px;
    @include tablet {
      margin: 2rem 0rem;
    }
  }

  &__icon-container {
    text-align: right;
    align-self: flex-end;
    margin-right: 2vw;
    @include tablet {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
    @include desktop {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
  }

  &__heading {
    @include font-m-h1-page-header;
    color: $primary-instock-black;
    font-style: normal;
    @include tablet {
      @include font-h1-page-header;
    }
    @include desktop {
      font-size: 2.4rem;
    }
  }

  &__paragraph {
    width: 90vw;
    @include font-m-p2-body-medium;
    color: $primary-instock-black;
    font-style: normal;
    @include tablet {
      @include font-m-p1-body-large;
      width: 34rem;
    }
    @include desktop {
      font-size: 1.3rem;
    }
  }

  .instock__button-container {
    display: flex;
    margin-right: 7vw;
    align-items: center;
    align-self: flex-end;
    margin-bottom: 2rem;
    @include tablet {
      justify-content: flex-end;
    }
  }

  &__button {
    display: inline-flex;
    padding: 0.5rem 3em;
    align-items: center;
    @include font-m-h3-labels-links-buttons;
    border-radius: 1.25rem;
    border: none;
    @include tablet {
      width: 10vw;
      height: 5vw;
      padding: 0;
      border-radius: 4vw;
      margin-left: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @include desktop {
      height: 4vw;
      font-size: 1.1rem;
      border-radius: 40px;
      width: 8vw;
    }
    &--1 {
      border: 1px solid $secondary-cloud;
      background: $primary-white;
      margin-right: 2.5rem;
      color: $secondary-slate;
      &:hover {
        color: $primary-instock-indigo;
        border: $primary-instock-indigo 1px solid;
      }
      @include tablet {
        text-align: center;
      }
    }

    &--2 {
      background: $supporting-red;
      color: $primary-white;
      &:hover {
        background-color: $background-graphite;
      }
    }
  }
}
